<section class="about-description">
	
	<div class="container">
	<div class="face-lockup">
		<div class="face-img"></div>
	</div>
	</div>
	
	<div class="resume-wrap">
	<!-- Education -->
	<p class="section">Education</p>
	<p class="school">CUNY City College</p>
	<p class="degree">Bachelor of Fine Arts</p>
	<p class="major">Film and Video Production</p>
	<p class="date">09/13 - 05/15</p>
	
	<p class="school-1">Penn State University</p>
	<p class="date">09/11 - 05/13</p>
	
	<p class="gpa">GPA: 3.75</p>
	
	
	
	<!-- Skills -->
	<p class="section">Skills</p>
	<ul>
		<li>Directing</li>
		<li>Writing</li>
		<li>Production Management</li>
		<li>Editing</li>
		<ol>
			<li>Final Cut Pro 7</li>
			<li>Adobe Premiere</li>
		</ol>
		<li>Google Drive</li>
		<li>Microsoft Office</li>
		<li>Camera Operating</li>
		<ol>
			<li>DSLR</li>
			<li>Black Magic</li>
			<li>Panasonic HMC</li>
			<li>JVC</li>
		</ol>
	</ul>
	
	
	
	<!-- Interests -->
	<p class="section">Interests</p>
	<ul>
		<li>Music</li>
		<li>Theater</li>
		<li>Dance</li>
		<li>Hair Braiding</li>
		<li>Double Dutch</li>
	</ul>
	
	
	
	<!-- Experience -->
	<p class="section">Experience</p>
	
	<p class="company">Kota Productions</p>
	<p class="title">Associate Producer // Assistant Director</p>
	<p class="series"><i>Night Shift</i> - Web Series</p>
	<p class="date">New York, NY // Petersburg, VA &nbsp; &nbsp; &nbsp; 08/15 - Present</p>
	
	<ul>
		<li>Handling all logistics during production</li>
		<li>Serving as a liaison between talent and directors</li>
		<li>Serving as a source for communication and talent</li>
	</ul>
	
	
	<p class="company">Viacom - BET Networks</p>
	<p class="title">Intern for President of Programming</p>
	<p class="date">New York, NY &nbsp; &nbsp; &nbsp; 02/15 - 05/15</p>
	<ul>
		<li>Providing administrative support for Executive Assistant</li>
		<li>Assisting with day to day operations:</li>
		<ol>
			<li>Scheduling</li>
			<li>Travel logistics</li>
			<li>Expense Reports</li>
			<li>Help Desk Support by phone</li>
			<li>Required errands and tasks</li>
		</ol>
	</ul>
	
	
	<p class="company">Megativity</p>
	<p class="title">Production Manager // Production Intern</p>
	<p class="date">New York, NY &nbsp; &nbsp; &nbsp; 07/15 - 09/15</p>
	<ul>
		<li>Obtaining contact information from talent</li>
		<li>Serving as a source of communication for talent</li>
		<li>Managing all contact and location information for productions</li>
		<li>Shooting behind the scenes footage on production sets</li>
		<li>Editing music videos</li>
	</ul>
	
	
	<p class="company">NBTV Studios</p>
	<p class="title">Production/Office Intern</p>
	<p class="date">New York, NY &nbsp; &nbsp; &nbsp; 01/14 - 05/14</p>
	<ul>
		<li>Assisting in daily office duties:</li>
			<ol>
				<li>Expense Reports</li>
				<li>Travel logistics</li>
				<li>Research</li>
				<li>Office maintenance</li>
			</ol>
		<li>Production assistant duties for various projects</li>
		<li>Media management assistance</li>
		<li>Serving as receptionist</li>
	</ul>
	
	
	<p class="company">Nigerian Entertainment Awards</p>
	<p class="title">Production Assistant</p>
	<p class="date">New York, NY &nbsp; &nbsp; &nbsp; 08/14</p>
	<ul>
		<li>Participating in meetings and planning</li>
		<li>Assisting director:</li>
		<ol>
			<li>Coordinating with clients and talent</li>
			<li>Purchasing items</li>
		</ol>
		<li>Managing talent</li>
		<li>Providing hospitality services to talent</li>
	</ul>
	
	</div>
	
</section>