<header class="about-header">
<!-- Refer to assets/css/3-sections/_acting-header.sass -->

<div class="logo"><a href="/">{% include icons/christina-page-logo-inverse.svg %}</a></div>
	
<nav id="nav-work">
	<ul>
		<li>work
			<ul class="drop-menu menu-1">
				<li><a class="work-link" href="/film">film</a></li>
				<li><a class="work-link" href="/acting">acting</a></li>
				<li><a class="work-link" href="/modeling">modeling</a></li>
				<li><a class="work-link" href="/singing">singing</a></li>
			</ul>
		</li>
	</ul>
</nav>
	
<nav id="nav-about">
	<ul>
		<li><a class="about-link" href="/about">about</a></li>
	</ul>
</nav>

</header>