<footer class="acting-footer">

	<nav>
		<!-- Social Network link(s) -->
		
		<a href="/contact"><div class="mail">{% include icons/mail.svg %}</div></a>

		<a href="https://www.facebook.com/fameimcoming">
			<div class="fb-icon">{% include icons/fb-icon.svg %}</div>
		</a>

		<a href="https://www.instagram.com/titiarewa/">
			<div class="ig-icon">{% include icons/ig-icon.svg %}</div>
		</a>

		<a href="https://www.youtube.com/user/superoverage">
			<div class="youtube-icon">{% include icons/youtube-icon.svg %}</div>
		</a>

		<a href="/">
			<div class="vimeo-icon">{% include icons/vimeo-icon.svg %}</div>
		</a>

	</nav>

	<div class="work-copyright">
		<p class="copyright">All content copyright 2016</p>
	</div>

</footer>