<section class="acting-work">

	<!-- film videos -->
	<div class="container">
		<div class="video-wrapper">
			

			<h1 class="top">Videos</h1>

			<!-- add ';autoplay=1' at the end of each video link to play automatically rather than have the user press play twice -->
			<!-- Only works on desktop -->
			<!-- Also note that when you add a new link, it will only work before the '&'. -->
			<!-- Delete the '&' and everything after -->
			<div class="hovereffect">
				<a class="fancyYoutube" id="vid15" href="https://www.youtube.com/watch?v=mJHZEGjHqRA;autoplay=1">
				<img class="img-responsive" src="video-thumbnails/reel/thumb-reel11.png" alt="">
					<div class="overlay">
					   <h2>Reel</h2>
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancyYoutube" id="vid16" href="https://www.youtube.com/watch?v=qnleWDSJhwE;autoplay=1">
				<img class="img-responsive" src="video-thumbnails/american-girl/thumb-ag11.png" alt="">
					<div class="overlay">
					   <h2>American Girl</h2>
					</div>
				</a>
			</div>
			
			<!-- Headshot -->		
			<img class="headshot" src="img53/img53.jpg">
			
		</div>
	</div>
</section>