<section class="film-work">

	<!-- film videos -->
	<div class="container">
		<div class="video-wrapper">
			
			<h1 class="top">Documentaries</h1>

			<!-- add ';autoplay=1' at the end of each video link to play automatically rather than have the user press play twice -->
			<!-- Only works on desktop -->
			<!-- Note that you may also place a vimeo link and the jQuery will bring up a "vimeo" player -->
			<!-- no need to change anything else but the link for the video -->
			<!-- Note that you will probably want to use YouTube because they allow for autoplay on the desktop -->
			<!-- Delete the ampersand '&' and everything after in each link -->
			
			<div class="hovereffect">
				<a class="fancyYoutube" id="vid1" href="https://www.youtube.com/watch?v=B18qJd2GljE;autoplay=1">
				<img class="img-responsive" src="video-thumbnails/documentaries/shoes-to-match/thumb-shoes1.png" alt="">
					<div class="overlay">
					   <h2>Shoes to match our feet</h2>
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancyYoutube" id="vid2" href="https://www.youtube.com/watch?v=40oJA4msF6w;autoplay=1">
				<img class="img-responsive" src="video-thumbnails/documentaries/artist-by-night/thumb-abn1.png" alt="">
					<div class="overlay">
					   <h2>Artist by Night</h2>
					</div>
				</a>
			</div>
			
			
			<h1 class="bottom">Trailers</h1>
			
			<div class="hovereffect">
				<a class="fancyYoutube" id="vid3" href="https://www.youtube.com/watch?v=pLXaua_1JGM;autoplay=1">
				<img class="img-responsive" src="video-thumbnails/trailers/sight/thumb-sight2.png" alt="">
					<div class="overlay">
					   <h2>Sight</h2>
					</div>
				</a>
			</div>
				
			<div class="hovereffect">
				<a class="fancyYoutube" id="vid4" href="https://www.youtube.com/watch?v=FY_iV9rKtpA;autoplay=1">
				<img class="img-responsive" src="video-thumbnails/trailers/double-dutch/thumb-dd1.png" alt="">
					<div class="overlay">
					   <h2>Double Dutch</h2>
					</div>
				</a>
			</div>
			
			
			<h1 class="bottom">Promo Videos // Vlogs</h1>
			
			<div class="hovereffect">
				<a class="fancyYoutube" id="vid5" href="https://www.youtube.com/watch?v=zftM7eE6qn0;autoplay=1">
				<img class="img-responsive" src="video-thumbnails/promos/1/thumb-ampgp1.png" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>

			<div class="hovereffect">
				<a class="fancyYoutube" id="vid6" href="https://www.youtube.com/watch?v=8mJTboavoBk;autoplay=1">
				<img class="img-responsive" src="video-thumbnails/promos/2/thumb-aip1.png" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancyYoutube" id="vid7" href="https://www.youtube.com/watch?v=F1NSvwtjMW8;autoplay=1">
				<img class="img-responsive" src="video-thumbnails/promos/3/thumb-ait1.png" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			
			<div class="hovereffect">
				<a class="fancyYoutube" id="vid8" href="https://www.youtube.com/watch?v=zEn7FRyW1K4;autoplay=1">
				<img class="img-responsive" src="video-thumbnails/promos/4/thumb-aoa1.png" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancyYoutube" id="vid9" href="https://www.youtube.com/watch?v=wcPdSs8_Nsc;autoplay=1">
				<img class="img-responsive" src="video-thumbnails/promos/5/thumb-aom1.png" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancyYoutube" id="vid10" href="https://www.youtube.com/watch?v=rAs_M3n7z5s;autoplay=1">
				<img class="img-responsive" src="video-thumbnails/promos/6/thumb-aop1.png" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancyYoutube" id="vid11" href="https://www.youtube.com/watch?v=Q2fLkNDmUIU;autoplay=1">
				<img class="img-responsive" src="video-thumbnails/promos/7/thumb-ap31.png" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancyYoutube" id="vid12" href="https://www.youtube.com/watch?v=chWHTatrS9Y;autoplay=1">
				<img class="img-responsive" src="video-thumbnails/promos/8/thumb-apv1.png" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
<!--			
			<div class="hovereffect">
				<a class="fancyYoutube" id="vid13" href="https://www.youtube.com/watch?v=sK_QF_QO2Bc;autoplay=1">
				<img class="img-responsive" src="video-thumbnails/promos/9/thumb-atc31.png" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
<!--					</div>
				</a>
			</div> -->
			
			<div class="hovereffect">
				<a class="fancyYoutube" id="vid14" href="https://www.youtube.com/watch?v=lEkckbzB7H8;autoplay=1">
				<img class="img-responsive" src="video-thumbnails/promos/10/thumb-lss11.png" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<!-- Updated 9-12-16 -->
			<div class="hovereffect">
				<a class="fancyYoutube" id="vid15" href="https://www.youtube.com/watch?v=cnFd9lC-1_k;autoplay=1">
				<img class="img-responsive" src="video-thumbnails/promos/11/thumb-aaf11.png" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancyYoutube" id="vid16" href="https://www.youtube.com/watch?v=REIgUEzQ6aw;autoplay=1">
				<img class="img-responsive" src="video-thumbnails/promos/12/thumb-boaenyv11.png" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancyYoutube" id="vid17" href="https://www.youtube.com/watch?v=tC6B_vafGUg;autoplay=1">
				<img class="img-responsive" src="video-thumbnails/promos/13/thumb-agpc1.png" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			
		</div>
	</div>
	
	
	<script type="text/javascript">
		$(document).ready(function() {
		//$(".fancybox").fancybox();
		$(".fancyYoutube").fancybox();
		});
	</script>
	
</section>
