<header class="film-header">
<!-- Refer to assets/css/3-sections/_film-header.sass -->
	
<div class="logo"><a href="https://executive-eagle.github.io/christina/">{% include icons/christina-page-logo.svg %}</a></div>
	
<nav id="nav-work">
	<ul>
		<li>work
			<ul class="drop-menu menu-1">
				<li><a href="{{site.baseurl}}/film">film</a></li>
				<li><a href="{{site.baseurl}}/acting">acting</a></li>
				<li><a href="{{site.baseurl}}/modeling">modeling</a></li>
				<li><a href="{{site.baseurl}}/singing">singing</a></li>
			</ul>
		</li>
	</ul>
</nav>
	
	<nav id="nav-about">
	<ul>
		<li><a href="{{site.baseurl}}/about">about</a></li>
	</ul>
</nav>
	
</header>
