<header class="main-header">
<!-- Refer to assets/css/3-sections/_header.sass -->
<nav id="nav-work">
	<ul>
		<li>work
			<!-- you have to delete the '/' -->
			<ul class="drop-menu menu-1">
				<li><a href="{{site.baseurl}}/film">film</a></li>
				<li><a href="{{site.baseurl}}/acting">acting</a></li>
				<li><a href="{{site.baseurl}}/modeling">modeling</a></li>
				<li><a href="{{site.baseurl}}/singing">singing</a></li>
			</ul>
		</li>
	</ul>
</nav>
	
<nav id="nav-about">
	<ul>
		<li><a href="{{site.baseurl}}/about">about</a></li>
	</ul>
</nav>
	
<!-- refer to assets/css/1-tools/_carousel.scss for styling -->
<div class='slider'>
  <div class='slide1'></div>
	<div class='slide2'></div>
</div>


</header>
