<section class="modeling-work">

	<!-- film videos -->
	<div class="container">
		<div class="video-wrapper">
			
			<h1 class="top">Video</h1>

			<!-- add ';autoplay=1' at the end of each video link to play automatically rather than have the user press play twice -->
			<!-- Only works on desktop -->
			
		<div id="video">
			<div class="hovereffect">
				<a class="fancyYoutube" id="vid17" href="https://www.youtube.com/watch?v=Gz1O1fZ2CoA;autoplay=1">
				<img class="img-responsive" src="video-thumbnails/vid1/modeling1.png" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
		</div>
			
			<h1 class="bottom">Photos</h1>
		
		<div id="photos">
			
			<!-- Took out modeling photos -->
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img18" href="modeling-photos/img18/img18.jpg">
				<img class="img-responsive" src="modeling-photos/img18/thumb-img18.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img19" href="modeling-photos/img19/img19.jpg">
				<img class="img-responsive" src="modeling-photos/img19/thumb-img19.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img20" href="modeling-photos/img20/img20.jpg">
				<img class="img-responsive" src="modeling-photos/img20/thumb-img20.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img21" href="modeling-photos/img21/img21.jpg">
				<img class="img-responsive" src="modeling-photos/img21/thumb-img21.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img22" href="modeling-photos/img22/img22.jpg">
				<img class="img-responsive" src="modeling-photos/img22/thumb-img22.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img23" href="modeling-photos/img23/img23.jpg">
				<img class="img-responsive" src="modeling-photos/img23/thumb-img23.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img24" href="modeling-photos/img24/img24.jpg">
				<img class="img-responsive" src="modeling-photos/img24/thumb-img24.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img25" href="modeling-photos/img25/img25.jpg">
				<img class="img-responsive" src="modeling-photos/img25/thumb-img25.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img26" href="modeling-photos/img26/img26.jpg">
				<img class="img-responsive" src="modeling-photos/img26/thumb-img26.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img27" href="modeling-photos/img27/img27.jpg">
				<img class="img-responsive" src="modeling-photos/img27/thumb-img27.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img28" href="modeling-photos/img28/img28.jpg">
				<img class="img-responsive" src="modeling-photos/img28/thumb-img28.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img29" href="modeling-photos/img29/img29.jpg">
				<img class="img-responsive" src="modeling-photos/img29/thumb-img29.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img30" href="modeling-photos/img30/img30.jpg">
				<img class="img-responsive" src="modeling-photos/img30/thumb-img30.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img31" href="modeling-photos/img31/img31.jpg">
				<img class="img-responsive" src="modeling-photos/img31/thumb-img31.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img32" href="modeling-photos/img32/img32.jpg">
				<img class="img-responsive" src="modeling-photos/img32/thumb-img32.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img33" href="modeling-photos/img33/img33.jpg">
				<img class="img-responsive" src="modeling-photos/img33/thumb-img33.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img34" href="modeling-photos/img34/img34.jpg">
				<img class="img-responsive" src="modeling-photos/img34/thumb-img34.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img35" href="modeling-photos/img35/img35.jpg">
				<img class="img-responsive" src="modeling-photos/img35/thumb-img35.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img36" href="modeling-photos/img36/img36.jpg">
				<img class="img-responsive" src="modeling-photos/img36/thumb-img36.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img37" href="modeling-photos/img37/img37.jpg">
				<img class="img-responsive" src="modeling-photos/img37/thumb-img37.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img38" href="modeling-photos/img38/img38.jpg">
				<img class="img-responsive" src="modeling-photos/img38/thumb-img38.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img39" href="modeling-photos/img39/img39.jpg">
				<img class="img-responsive" src="modeling-photos/img39/thumb-img39.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img40" href="modeling-photos/img40/img40.jpg">
				<img class="img-responsive" src="modeling-photos/img40/thumb-img40.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img41" href="modeling-photos/img41/img41.jpg">
				<img class="img-responsive" src="modeling-photos/img41/thumb-img41.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img42" href="modeling-photos/img42/img42.jpg">
				<img class="img-responsive" src="modeling-photos/img42/thumb-img42.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img43" href="modeling-photos/img43/img43.jpg">
				<img class="img-responsive" src="modeling-photos/img43/thumb-img43.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img44" href="modeling-photos/img44/img44.jpg">
				<img class="img-responsive" src="modeling-photos/img44/thumb-img44.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img45" href="modeling-photos/img45/img45.jpg">
				<img class="img-responsive" src="modeling-photos/img45/thumb-img45.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img46" href="modeling-photos/img46/img46.jpg">
				<img class="img-responsive" src="modeling-photos/img46/thumb-img46.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img47" href="modeling-photos/img47/img47.jpg">
				<img class="img-responsive" src="modeling-photos/img47/thumb-img47.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img48" href="modeling-photos/img48/img48.jpg">
				<img class="img-responsive" src="modeling-photos/img48/thumb-img48.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img49" href="modeling-photos/img49/img49.jpg">
				<img class="img-responsive" src="modeling-photos/img49/thumb-img49.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img50" href="modeling-photos/img50/img50.jpg">
				<img class="img-responsive" src="modeling-photos/img50/thumb-img50.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img51" href="modeling-photos/img51/img51.jpg">
				<img class="img-responsive" src="modeling-photos/img51/thumb-img51.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			<div class="hovereffect">
				<a class="fancybox" rel="gallery1" id="img52" href="modeling-photos/img52/img52.jpg">
				<img class="img-responsive" src="modeling-photos/img52/thumb-img52.jpg" alt="">
					<div class="overlay">
					   <!--<h2>title</h2>-->
					</div>
				</a>
			</div>
			
			
			
			
		</div>
			
		</div>
	</div>
</section>




	