<header class="singing-header">
<!-- Refer to assets/css/3-sections/_singing-header.sass -->
	<!-- edit the link for the logo and the menus later -->
	<!-- the logo should have the site website without an added path -->
	<!-- the menu links should not have a '/' -->
<div class="logo"><a href="/">{% include icons/christina-page-logo.svg %}</a></div>
	
<nav id="nav-work">
	<ul>
		<li>work
			<ul class="drop-menu menu-1">
				<li><a href="/film">film</a></li>
				<li><a href="/acting">acting</a></li>
				<li><a href="/modeling">modeling</a></li>
				<li><a href="/singing">singing</a></li>
			</ul>
		</li>
	</ul>
</nav>
	
<nav id="nav-about">
	<ul>
		<li><a href="/about">about</a></li>
	</ul>
</nav>

</header>