.film-footer
	height: 5px
	//overflow-x: hidden

	nav
		display: block
		width: 100%
		vertical-align: middle
		text-align: center
		//margin: 0 0 10px 0
		
		a
			text-decoration: none

		// instagram icon
		.mail
			display: inline-block
			vertical-align: middle
			margin: 5px 0 0 0
			//position: absolute
			// this helps with horizontal positioning
			text-align: center
			// needed for the hover animation below
			+transition()

			&:hover
				// increases the scale of the social network icons when the cursor hovers over them
				+transform(scale(1.3))

		// instagram icon
		.ig-icon
			display: inline-block
			vertical-align: middle
			margin: 5px 5px 0 0
			//position: absolute
			// this helps with horizontal positioning
			text-align: center
			// needed for the hover animation below
			+transition()

			&:hover
				// increases the scale of the social network icons when the cursor hovers over them
				+transform(scale(1.3))
		
		// facebook icon
		.fb-icon
			display: inline-block
			vertical-align: middle
			margin: 5px 0 0 0
			//position: absolute
			// this helps with horizontal positioning
			text-align: center
			// needed for the hover animation below
			+transition()

			&:hover
				// increases the scale of the social network icons when the cursor hovers over them
				+transform(scale(1.3))
		
		// vimeo icon
		.vimeo-icon
			display: inline-block
			vertical-align: middle
			margin: 5px 0 0 0
			//position: absolute
			// this helps with horizontal positioning
			text-align: center
			// needed for the hover animation below
			+transition()

			&:hover
				// increases the scale of the social network icons when the cursor hovers over them
				+transform(scale(1.3))
		
	
		// youtube icon
		.youtube-icon
			display: inline-block
			vertical-align: middle
			margin: 5px 2px 0 0
			//position: absolute
			// this helps with horizontal positioning
			text-align: center
			// needed for the hover animation below
			+transition()

			&:hover
				// increases the scale of the social network icons when the cursor hovers over them
				+transform(scale(1.3))

	.work-copyright
		display: block
		width: 100%
		vertical-align: middle
		text-align: center

		.copyright
			//z-index: 10
			//position: fixed
			//vertical-align: middle
			font:
				family: 'Josefin Sans'
				weight: 400
				size: 10px
			text-transform: uppercase
			text-align: center
			margin: 0 0 10px 0
			//color: rgba(204,204,255,1)
			color: white
