.main-footer
	height: 5px
	width: 100%
	overflow-x: hidden
	padding: 0 
	margin: 0

	.lockup
		display: inline-block
		width: 100%
		vertical-align: middle
		text-align: center
	
	nav
		display: block
		z-index: 1
		position: fixed
		bottom: 0px
		left: 0px
		right: 0px
		height: 30px
		vertical-align: middle
		text-decoration: none
		text-align: center
		margin: 0 0 30px 0
		
		a
			text-decoration: none

		// instagram icon
		.mail
			display: inline-block
			vertical-align: middle
			margin: 5px 0 0 0
			//position: absolute
			// this helps with horizontal positioning
			text-align: center
			// needed for the hover animation below
			+transition()

			&:hover
				// increases the scale of the social network icons when the cursor hovers over them
				+transform(scale(1.3))

		// instagram icon
		.ig-icon
			display: inline-block
			vertical-align: middle
			margin: 5px 5px 0 0
			//position: absolute
			// this helps with horizontal positioning
			text-align: center
			// needed for the hover animation below
			+transition()

			&:hover
				// increases the scale of the social network icons when the cursor hovers over them
				+transform(scale(1.3))
		
		// facebook icon
		.fb-icon
			display: inline-block
			vertical-align: middle
			margin: 5px 0 0 0
			//position: absolute
			// this helps with horizontal positioning
			text-align: center
			// needed for the hover animation below
			+transition()

			&:hover
				// increases the scale of the social network icons when the cursor hovers over them
				+transform(scale(1.3))
		
		// vimeo icon
		.vimeo-icon
			display: inline-block
			vertical-align: middle
			margin: 5px 0 0 0
			//position: absolute
			// this helps with horizontal positioning
			text-align: center
			// needed for the hover animation below
			+transition()

			&:hover
				// increases the scale of the social network icons when the cursor hovers over them
				+transform(scale(1.3))
		
	
		// youtube icon
		.youtube-icon
			display: inline-block
			vertical-align: middle
			margin: 5px 2px 0 0
			//position: absolute
			// this helps with horizontal positioning
			text-align: center
			// needed for the hover animation below
			+transition()

			&:hover
				// increases the scale of the social network icons when the cursor hovers over them
				+transform(scale(1.3))

	.copyright-wrap
		display: inline-block
		width: 100%
		vertical-align: middle
		text-align: center
	
	.copyright
		display: block
		z-index: 1
		position: fixed
		bottom: 0px
		left: 0px
		right: 0px
		height: 25px
		vertical-align: middle
		font:
			family: 'Josefin Sans'
			weight: 400
			size: 10px
		text-transform: uppercase
		text-align: center
		margin: 20px 0 5px 0
		//color: rgba(204,204,255,1)
		color: white

		
